
<!DOCTYPE html>
<html>
<head>
	<title>rejester </title>
</head>
<body>

<form>
First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">
</form> 
<br><form action="action_page.php">
  E-mail:
  <input type="email" name="email">
  <input type="submit">
</form>
<br>
<form>
<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female
</form> 
<br>
<form action="action_page.php">
  Birthday:
  <input type="date" name="bday">
  <input type="submit">
</form>

<br>
<button type="button" onclick="alert('Hello World!')">Click Me!</button>


</body>
</html>