
<!DOCTYPE html>
<html>
	<head> 
	<title>page centeer (anas 1)</title>


		<style>

		span.red {color:red;}

				ul#menu {
				    padding: 0;
				}

				ul#menu li {
				    display: inline;
				}

				ul#menu li a {
				    background-color: black;
				    color: white;
				    padding: 10px 20px;
				    text-decoration: none;
				    border-radius: 4px 4px 0 0;
				}

				ul#menu li a:hover {
				    background-color: orange;
				}


		table#t05 tr:nth-child(even) {
		    background-color: #eee;
		}
		table#t05 tr:nth-child(odd) {
		   background-color:#fff;
		}
		table#t05 th	{
		    background-color: black;
		    color: white;
}

		table#t05 {
			    width: 100%;    
			    background-color: FF3399;
			}
			table#t02 {
			    width: 100%;    
			    background-color: white;
			}
		p#a02 {color:3333FF ;
	
		}
		h1#a03 {color: #A0A0A0 ;
	
		}
		h2#a04{color:CC66FF ;
	
		}
		/*body { background-color : #900000 
	
		}*/
		
		</style>
	</head>
	<body>
		<ul id="menu" >
		  <li><a href="/anas2/">log in</a></li>
		  <li><a href="/anas4/">rejester</a></li>
		  <li><a href="/js/default.asp">JavaScript</a></li>
		  <li><a href="/php/default.asp">PHP</a></li>
		</ul>


	<a href ="/anas2/">log in </a>
	<br>
	<a href ="/anas4/">rejester </a>
		<h1 id ="a03" ; style="text-align:center";>the people in commons </h1>
		<br><br><hr><br><br>
		<h2>table 1</h2><hr><hr>
		<ul>
		<li>refresh</li>
		<li>back</li>
		<li>go</li>
		</ul>
	  
		<img src="images\a1.jpg" alt="cars" style="width:304px;height:228px;">

		<br><br>
		<p><b>the table 1 in your names</b></p>
	  <table id="t01" style = "width:100%" ; border="1" ;  >
	  	<tr> 
	  	<td>name </td>
	  	<td>age </td>
	  	<td>work</td>
	  	<td>salary</td>
	  	</tr>
	  	<tr>
	  		<td>anas</td>
	  		<TD>21</TD>
	  		<td>dr-</td>
	  		<td>600</td>
	  	</tr>
	  	<tr>
	  		<td>ahmad</td>
	  		<td>25</td>
	  		<td>eng</td>
	  		<td>650</td>


	  	</tr>
	  	<tr>
	  		<td>ali</td>
	  		<td>26</td>
	  		<td>tech</td>
	  		<td>550</td>

	  	</tr>
	  	<tr>
	  		<td>jehad</td>
	  		<td>32</td>
	  		<td>overseer</td>
	  		<td>350</td>
	  	</tr>
	  	</table>
	  	<br><br>
	  	<table id="t05">
		  <tr>
		    <th>First Name</th>
		    <th>Last Name</th>		
		    <th>Points</th>
		  </tr>
		  <tr>
		    <td>Jill</td>
		    <td>Smith</td>		
		    <td>50</td>
		  </tr>
		  <tr>
		    <td>Eve</td>
		    <td>Jackson</td>		
		    <td>94</td>
		  </tr>
		  <tr>
		    <td>John</td>
		    <td>Doe</td>		
		    <td>80</td>
		  </tr>
		
	  </table>
	  <hr><br><br><br>
	  <H2>TABLE 2</H2>
	  <hr><br><br><br>
	  <P><b>TABLE numbers helbed</b></P>
	  <table id="t02"  style="width:100%" ; border="1"> 

	  <tr>
	  <td> numbers </td>
	  <td> fist name</td>
	  <td>last name</td>
	  <td>membership family</td>
	  </tr> 
	  <tr>
	  	<td>1</td>
	  	<td>ahmad </td>
	  	<td>khleed</td>
	  	<td>9 </td>
	  </tr>
	  <tr>
	  	<td>2</td>
	  	<td>oday</td>
	  	<td>anas</td>
	  	<td>6</td>

	  </tr>
	   <tr>
	  	<td>3</td>
	  	<td>nana</td>
	  	<td>jems</td>
	  	<td>3</td>

	  </tr>
	   <tr>
	  	<td>4</td>
	  	<td>fahed</td>
	  	<td> alfahed</td>
	  	<td>12</td>

	  </tr>
	   <tr>
	  	<td>5</td>
	  	<td>soaad</td>
	  	<td>kmal</td>
	  	<td>4</td>

	  </tr>
	  </table>
	  <br>
	  
	  <br><br><br><br><br><br><br><br>
	  <footer style="text-align:center"> &copy; 2015 W3Schools. All rights reserved .</footer>


	</body>
</html>

