
<!DOCTYPE html>
<html>
<head>
	<title>log in  &copy; (anas 2)</title>
	<style type="text/css">
	#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
	</style>
</head>
<body>
<h1>WELCOME</h1>
<script> <script>

<p>My favorite <ins>color</ins> is red.</p>
<br><form action="">
User name:<br>
<input type="text" name="userid">
<br>
User password:<br>
<input type="password" name="psw">
</form>
<br>
<P><B>LOG IN</B> </P>
<button> log in</button>
  <footer id="footer"> &copy; 2015 W3Schools. All rights reserved .</footer>

</body>
</html>