
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>Control</title>
	<style>
	
	#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:40px;
    }
#nav {
    line-height:30px;
    background-color:#045681;
    height:1000px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
			h1 { text-align:center }
				body {background-color:#705135}
				
				ul#menu {
				    padding: 0;
				}

				ul#menu li {
				    display: inline;
				}

				ul#menu li a {
				    background-color: #222;
				     margin:20px;
				    color: white;
				    padding: 10px 20px;
				    text-decoration: none;
				    border-radius: 4px 4px 0 0;
				}

				ul#menu li a:hover {
				    background-color: #045681;
				}

	</style>
</head>
<body>
<!--<script>
document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>-->

<h1 id = "header">Control </h1>

<br><br>
<div id="nav">
London<br>
Paris<br>
Tokyo<br>
</div><br>
<ul id="menu" >
		  <li><a href="/anas/">servus</a></li>
		  <li><a href="/anas1/">senter</a></li>
		  <li><a href="/anas2/">log in</a></li>
		  <li><a href="/anas3/">edite</a></li>
		   <li><a href="/anas4/">rejester</a></li>
		</ul>
		<br><br><br>
		<ul id ="menu">
		  <li><a href="/anas5/">000</a></li>
		  <li><a href="/anas6/">000</a></li>
		  <li><a href="/anas7/">000</a></li>
		   <li><a href="/anas8/">000</a></li>
		  <li><a href="/anas9/">000</a></li>
		  <li><a href="/anas10/">000</a></li>
		  </ul>
		 <div id="footer">
		Copyright © W3Schools.com
		</div>
</body>
</html>
