<!DOCTYPE html>
<div class="row">
	<div class="col-lg-12">
    	<p>Semester : First Semester </p>   
        <p>Year : 2012/2013</p> 
        <p>Scholar : All current scholars</p> 
        <p>Semester GPA : 80%</p>
        <p>GPA : 82%</p>
        <p>Registered Hours : 16</p>
        <p>Accounted Hours Passed : 62</p>
        <p>Unaccounted Hours Passed : 22</p>
        <p>Failed Hours : 0</p>
        <p>Dropped Hours : 12</p>
    </div>
</div><hr>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Semester
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Semester :</th>
                                <th>Year :</th>
                                <th>Scholar :</th>
                                <th>Semester GPA :</th>
                                <th>GPA :</th>
                                <th>Registered Hours :</th>
                                <th>Accounted Hours Passed :</th>
                                <th>Unaccounted Hours Passed :</th>
                                <th>Failed Hours :</th>
                                <th>Dropped Hours :</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>First Semester</td>
                                <td>2012/2013</td>
                                <td> All current scholars</td>
                                <td>80%</td>
                                <td>82%</td>
                                <td>16</td>
                                <td>62</td>
                                <td>22</td>
                                <td>0</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Semester
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td>*</td>
	                            <td>*</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Semester :</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Year :</td>
                                <td>2012/2013</td>
                            </tr>
                            <tr>
                                <td>Scholar :</td>
                                <td>All current scholars</td>
                            </tr>
                            <tr>
                                <td>Semester GPA :</td>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <td>GPA :</td>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <td>Registered Hours :</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Accounted Hours Passed :</td>
                                <td>62</td>
                            </tr>
                            <tr>
                                <td>Unaccounted Hours Passed :</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>Failed Hours :</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Dropped Hours :</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
  <footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>