<!DOCTYPE html>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Personal
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Tixt enbut</label>
                                <input class="form-control">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                            <!-- name = "firstname" name = "lastname"-->
							<div>
							    <label>First Name English</label>
								 <br>
								<input type="text" name="firstname">
								<br>
								<label>Father's Name English</label>
								 <br>
								<input type="text" name="lastname">
								<br><label>Family Name English </label>
								<br>
								<input type="text" name="lastname">
							</div>
							<div flot :"right">
								<br><label>First Name Arabic </label>
								<br>
								<input type="text" name="firstname">
								<br><label>Father's Name Arabic </label>
								<br>
								<input type="text" name="lastname">
								<br><label>Family Name Arabic </label>
								<br>
								<input type="text" name="lastname">
								<br><br>
								<!--<input type="submit" value="Submit">-->
							 </div>

							<br><br>
							<div>
								<label>Sex</label><br>
								<input type="radio" name="sex" value="male" >Male
								<br>
								<input type="radio" name="sex" value="female">Female
							</div>
							<br><br>
							<div>
								<label>Nationality</label><br>
								<select name="Nationality">
									<option value="Nationality">Jordanian </option>
									<option value="Nationality">Palestinian</option>
									<option value="Nationality">Gazan </option>
									<option value="Nationality">Syrian</option>
									<option value="Nationality">Iraqi</option>
									<option value="Nationality">Egyptian</option>
									<option value="Nationality">Lebanese</option>
									<option value="Nationality">Other Arab</option>
									<option value="Nationality"> Other</option>				
								</select>
								<br><br>
								<input type="submit">
							</div>
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
									
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
             Contact 
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">									

								<label>ID # </label><br>
																		 
								  <input type="number">
							</div>
							<br><br>
							<div>
							<!--number-->
								<label>Date of Birth</label>
								<br>
							 
								
								<div>
								<label>day</label><br>
								<select name="Nationality">
									<option value="Nationality">1</option>
									<option value="Nationality">2</option>
									<option value="Nationality">3</option>
									<option value="Nationality">4</option>
									<option value="Nationality">5</option>
									<option value="Nationality">6</option>
									<option value="Nationality">7</option>
									<option value="Nationality">8</option>
									<option value="Nationality">9</option>
									<option value="Nationality">10</option>
									<option value="Nationality">11</option>
									<option value="Nationality">12</option>
									<option value="Nationality">13</option>
									<option value="Nationality">14</option>
									<option value="Nationality">15</option>
									<option value="Nationality">16</option>
									<option value="Nationality">17</option>
									<option value="Nationality">18</option>
									<option value="Nationality">19</option>
									<option value="Nationality">20</option>
									<option value="Nationality">21</option>
									<option value="Nationality">22</option>
									<option value="Nationality">23</option>
									<option value="Nationality">24</option>
									<option value="Nationality">25</option>
									<option value="Nationality">26</option>
									<option value="Nationality">27</option>
									<option value="Nationality">28</option>
									<option value="Nationality">29</option>
									<option value="Nationality">30</option>
									<option value="Nationality">31</option>								
								</select>
								
							</div><br>
								
								<div>
								<label>month</label><br>
								<select name="Nationality">
									<option value="Nationality">1</option>
									<option value="Nationality">2</option>
									<option value="Nationality">3</option>
									<option value="Nationality">4</option>
									<option value="Nationality">5</option>
									<option value="Nationality">6</option>
									<option value="Nationality">7</option>
									<option value="Nationality">8</option>
									<option value="Nationality">9</option>
									<option value="Nationality">10</option>
									<option value="Nationality">11</option>
									<option value="Nationality">12</option>								
								</select>
								<br><br>
								<input type="submit">
							</div><br>
								
							<div>
								<label> year</label><br>
								<input type="dateyear" name="year"  min = "1900"><br>								
								<br><br>
								<input type="submit">

							</div><br>
							</div><br>
							<div>
								<label>Mobile # 1</label><br> 
								<input type="tel" name="usrtel">
								<input type="submit">
							</div>
							<div>
								<label>Mobile # 2</label><br>
								<input type="tel" name="usrtel">
								<input type="submit">
							</div>
							<br><br>
							<div>
								<label>E-mail</label><br> 
								<input type="email" name="email">
								<input type="submit">
							</div>
							<br><br>

						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->




<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Family and Finances
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="radio"><!-- radyu is not work-->
                                <label>Finished Diplome Earlier <br>
                                	<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
                                </label>
                            </div>
								<br>
							<div>
								<label>Other Available Scholarship Support</label><br>  
								<input type="radio" name="yes" value="yes" >Yes
								<br>
								<input type="radio" name="no" value="no">NO
							</div>
							<div>
								<label>Father Full Name </label>
								<br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div>
								<label>Father ID #</label><br>							 
								<input type="number">
							</div>
							<br><br>
							<div>
								<label>Mother Full Name </label>
								<br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div>
								<label>Mother ID #</label><br>										 
								<input type="number">
							</div>
							<br><br>
							<div>
								<label># Members in Family at Home</label><br>					
								<input type="number">
							</div>
							<br><br>
							<div>
								<label>Total Monthly Income</label><br>							
								<input type="number">
							</div>
							<br><br>
							<div>
								<label>Total Monthly Expenditure</label><br>						
								<input type="number">
							</div>
							<br><br>
							<div class="form-group">
                                <label>Income Resources</label><br>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Financial Situation Description</label><br>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div>
                                <label>National Aid</label><br> 
								<input type="radio" name="yes" value="yes" >Yes
								<br>
								<input type="radio" name="no" value="no">NO
							</div> 
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Address
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                            	<label>Address</label> <br>
								<select name="Address">
								<option value="Address">Tafileh</option>
								<option value="Address">Amman</option>
								<option value="Address">Zarqa</option>
								<option value="Address">Balqa</option>
								<option value="Address">Madaba</option>
								<option value="Address">Mafraq</option>
								<option value="Address">Ajloun</option>
								<option value="Address">Jerash</option>
								<option value="Address">Irbid</option>
								<option value="Address">Karak</option>
								<option value="Address">Ma'an</option>
								<option value="Address">Aqaba</option>					
								</select>
								<br><br>
								<input type="submit">
							</div>
							<div>
								<label>Area</label> <br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div class="form-group">
                                <label>Street & Location</label><br>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
 						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tawjihi
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
								<label>School </label><br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div>
								<label>Tawjihi Stream </label>
								<br>
								<select name="Tawjihi Stream">
								<option value="Address">Scientific </option>
								<option value="Address"> Literary</option>
								<option value="Address"> IT </option>
								<option value="Address">Sharia'</option>
								<option value="Address"> Commercial</option>
								<option value="Address">Hospitality</option>
								<option value="Address"> Industrial</option>
								<option value="Address"> Agricultural</option>
								<option value="Address">Comprehensive</option>
								<option value="Address">Health Education</option>
								<option value="Address"> Home Economics</option>				
								</select>
								<br><br>
								<input type="submit">
							</div>
							<br>
							<div>
								<label>Year of graduation </label> <br>
								<input type="dateyear" name="year"  min = "1900">
								</div><br>
							<div>
								<label>Semester of graduation </label> <br>
								<select name="Semester of graduation">
								<option value="Address">First Semester </option>
								<option value="Address">Second Semester </option>
								<option value="Address"> Summer Semester</option>				</select>
								<br><br>
								<input type="submit">
							</div>
							<div>
								<label>GPA</label><br>							
								<input type="number">
							</div>
							<br><br><hr>
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
								
								</form>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                College
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
								<label>Finished Diplome Earlier</label><br> 
								<input type="radio" name="yes" value="yes" >Yes
								<br>
								<input type="radio" name="no" value="no">NO
							</div>
							<br>
							<div>
								<label>College Name</label><br> 
								<select name="College Name">
								<option value="Address">Amman College</option>
								<option value="Address">Amman Engineering Technology College</option>
								<option value="Address">Princess Alia College </option>
								<option value="Address"> Salt College</option>
								<option value="Address"> Zarqa Public College</option>
								<option value="Address"> Irbid  College</option>
								<option value="Address"> Al Husun College</option>
								<option value="Address"> Al Karak College</option>
								<option value="Address"> Ajloun College</option>
								<option value="Address">Tafila College </option>
								<option value="Address"> Ma’an College</option>
								<option value="Address"> Shobak College</option>
								<option value="Address"> Dawa and Religion Fundamentals College</option>
								<option value="Address"> Royal Jordanian Geographic Center College</option>
								<option value="Address"> Islamic Sciences College</option>
								<option value="Address"> Princess Rahma Social Work College</option>
								<option value="Address"> Queen Noor College</option>
								<option value="Address"> Aqaba College</option>
								<option value="Address">AlQadisia College</option>
								<option value="Address"> Khawarizmi College</option>
								<option value="Address">Amman Community College</option>
								<option value="Address"> Arab College</option>
								<option value="Address">Queen Alia College</option>
								<option value="Address"> Al Quds College</option>
								<option value="Address">AlAndalus College</option>
								<option value="Address">Intermediate University College</option>
								<option value="Address"> Hiteen College</option>
								<option value="Address"> Princess Tharwat College</option>
								<option value="Address"> Islamic Community College</option>
								<option value="Address"> Qurtoba College</option>
								<option value="Address">Zarqa Private College</option>
								<option value="Address"> Granada College</option>
								<option value="Address">Alrazi College</option>
								<option value="Address"> Ibn Khaldun College</option>
								<option value="Address">Mafraq Private College</option>
								<option value="Address">Jordan Applied University College Of Hospitality & Tourism</option>
								<option value="Address">Banking Studies College</option>
								<option value="Address">Jordanian College for Science and Technology</option>
								<option value="Address"> Jordanian Canadian College</option>
								<option value="Address"> Complimentary Medical Professions College</option>
								<option value="Address"> Rufaida Alaslamiya College</option>
								<option value="Address">Nusaiba Almaznia College</option>
								<option value="Address"> Medical Services College</option>
								<option value="Address"> Shareef Nasser Bin Jameel Communications College </option>
								<option value="Address"> Prince Hasan Islamic Sciences College </option>
								<option value="Address"> Prince Hussein Bin Abdallah College</option>
								<option value="Address">Prince Faisal College</option>
								<option value="Address"> Wadi Alseer College</option>
								<option value="Address">Amman Training College</option>			
								</select>
								<br><br>
								<input type="submit">
							</div>
							<br>
							<div>
								<label>Major</label> <br>
								<input type="text" name="firstname">
								<br>
							</div>
							<br>
							<div>
								<label>Major Type</label><br>
								<select name="Major Type">
								<option value="Address"> Engineering</option>
								<option value="Address"> Finance</option>
								<option value="Address"> Business & Management</option>
								<option value="Address">Educational Sciences </option>
								<option value="Address">  Media, Literature & Language</option>
								<option value="Address">Medicine, Dentistry, Pharmacy & Nursing</option>
								<option value="Address">  IT</option>
								<option value="Address"> Sciences</option>
								<option value="Address"> Other</option>
								</select>
								<br><br>
								<input type="submit">
							</div>
							<br>
							<div>
								<label>GPA</label><br>							
								<input type="number">
							</div>
							<br>
							<div>
								<label>Starting Semester</label><br>	
								<select name="Starting Semester">
								<option value="Address">First Semester </option>
								<option value="Address"> Second Semester</option>				
								</select>
								<br><br>
								<input type="submit">
							</div>
							<br>
							<div>
								<label>Starting Year</label> <br>
								<input type="dateyear" name="year"  min = "2000">
							</div>
							<br>
							<div>
								<label>Graduation Semester</label> <br>
								<select name="Graduation Semester">
								<option value="Address">First Semester </option>
								<option value="Address"> Second Semester</option>				
								</select>
								<br><br>
								<input type="submit">
							</div>
							<br>
							<div>
								<label>Graduation Year</label>  <br>
								<input type="dateyear" name="year" >
							</div>
							<br>
								
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
   <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->

 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Currently Studying
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                            	<label>Currently Studying</label>  <br>
                            	<label>University  / Bachelor's</label><br> 
								<select name="College Name">
								<option value="Address">Tafila Technical University</option>
								<option value="Address">Mutah University</option>
								<option value="Address">Ajloun National University</option>
								<option value="Address">Al al-Bayt University</option>
								<option value="Address"> Al-Ahliyya Amman University</option>
								<option value="Address">Al-Balqa' Applied University</option>
								<option value="Address"> Al-Hussein Bin Talal University</option>
								<option value="Address">Al-Zaytoonah University</option>
								<option value="Address"> American University of Madaba</option>
								<option value="Address">Amman Arab University </option>
								<option value="Address">Applied Science Private University </option>
								<option value="Address">Arab Academy for Banking and Financial Sciences</option>
								<option value="Address"> Arab Open University </option>
								<option value="Address"> German Jordanian University </option>
								<option value="Address"> Irbid National University </option>
								<option value="Address"> Israa' University</option>
								<option value="Address">Jadara University</option>
								<option value="Address">Jerash Private University</option>
								<option value="Address">Jordan Academy of Music</option>
								<option value="Address">Jordan Applied University</option>
								<option value="Address">College of Hospitality and Toursim Education</option>
								<option value="Address">Jordan University of Science and Technology</option>
								<option value="Address"> Middle East University</option>
								<option value="Address">Philadelphia University</option>
								<option value="Address"> Princess Sumaya University for Technology</option>
								<option value="Address"> Red Sea Institute of Cinematic Arts</option>
								<option value="Address">The Hashemite University</option>
								<option value="Address">The World Islamic Sciences and Education University</option>
								<option value="Address">University of Jordan</option>
								<option value="Address"> University of Petra</option>
								<option value="Address">Yarmouk University</option>
								<option value="Address"> Zarqa University</option>
								<option value="Address"> Faculty of Educational Sciences and Arts</option>
											
								</select>
								<br><br>
								<input type="submit">
								<br>


								<label>College Name</label><br> 
								<select name="College Name">
								<option value="Address">Amman College</option>
								<option value="Address">Amman Engineering Technology College</option>
								<option value="Address">Princess Alia College </option>
								<option value="Address"> Salt College</option>
								<option value="Address"> Zarqa Public College</option>
								<option value="Address"> Irbid  College</option>
								<option value="Address"> Al Husun College</option>
								<option value="Address"> Al Karak College</option>
								<option value="Address"> Ajloun College</option>
								<option value="Address">Tafila College </option>
								<option value="Address"> Ma’an College</option>
								<option value="Address"> Shobak College</option>
								<option value="Address"> Dawa and Religion Fundamentals College</option>
								<option value="Address"> Royal Jordanian Geographic Center College</option>
								<option value="Address"> Islamic Sciences College</option>
								<option value="Address"> Princess Rahma Social Work College</option>
								<option value="Address"> Queen Noor College</option>
								<option value="Address"> Aqaba College</option>
								<option value="Address">AlQadisia College</option>
								<option value="Address"> Khawarizmi College</option>
								<option value="Address">Amman Community College</option>
								<option value="Address"> Arab College</option>
								<option value="Address">Queen Alia College</option>
								<option value="Address"> Al Quds College</option>
								<option value="Address">AlAndalus College</option>
								<option value="Address">Intermediate University College</option>
								<option value="Address"> Hiteen College</option>
								<option value="Address"> Princess Tharwat College</option>
								<option value="Address"> Islamic Community College</option>
								<option value="Address"> Qurtoba College</option>
								<option value="Address">Zarqa Private College</option>
								<option value="Address"> Granada College</option>
								<option value="Address">Alrazi College</option>
								<option value="Address"> Ibn Khaldun College</option>
								<option value="Address">Mafraq Private College</option>
								<option value="Address">Jordan Applied University College Of Hospitality & Tourism</option>
								<option value="Address">Banking Studies College</option>
								<option value="Address">Jordanian College for Science and Technology</option>
								<option value="Address"> Jordanian Canadian College</option>
								<option value="Address"> Complimentary Medical Professions College</option>
								<option value="Address"> Rufaida Alaslamiya College</option>
								<option value="Address">Nusaiba Almaznia College</option>
								<option value="Address"> Medical Services College</option>
								<option value="Address"> Shareef Nasser Bin Jameel Communications College </option>
								<option value="Address"> Prince Hasan Islamic Sciences College </option>
								<option value="Address"> Prince Hussein Bin Abdallah College</option>
								<option value="Address">Prince Faisal College</option>
								<option value="Address"> Wadi Alseer College</option>
								<option value="Address">Amman Training College</option>			
								</select>
								<br><br>
								<input type="submit">
							</div>
							<div>
								<label>University / College Type</label><br>
								<select name="Nationality">
									<option value="Nationality">Public</option>
									<option value="Nationality">Private</option>
								</select>
								<br><br>
								<input type="submit">
							</div><br>
							<div>
								<label>Type of Study</label><br>
								<select name="Nationality">
									<option value="Nationality">Competitive Stream</option>
									<option value="Nationality">Parallel Stream</option>
									<option value="Nationality">International Stream</option>	
								</select>
								<br><br>
								<input type="submit">
							</div><br>
							<!-- Major Auto Complete (we need to have the option of adding majors) -->
							<div>
								<label>Univrsity / College ID</label><br>						
								<input type="number">
							</div>
							<div class="form-group">
								<label>System Password </label><br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div>
								<label>Starting Semester</label><br>
								<select name="Nationality">
									<option value="Nationality">First Semester</option>
									<option value="Nationality">Second Semester</option>
									<option value="Nationality">Summer Semester</option>	
								</select>
								<br><br>
								<input type="submit">
							</div><br>
							<div>
								<label>Starting Year starting 2005/2006 ---- 2011/2012</label>  <br>
								<input type="dateyear" name="year" >
							</div>
							<div>
								<label>Expected Graduation Semester</label><br>
								<select name="Nationality">
									<option value="Nationality">First Semester</option>
									<option value="Nationality">Second Semester</option>
									<option value="Nationality">Summer Semester</option>	
								</select>
								<br><br>
								<input type="submit">
							</div><br>
							<div>
								<label>Expected Graduation Year</label>  <br>
								<input type="dateyear" name="year" >
							</div><br>

								
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
   <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Currently Studying
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
								<label>Major Hours</label><br>										 
								<input type="number">
							</div><br>
							<div>
								<label>Scholarship Starting Semester</label><br>
								<select name="Nationality">
									<option value="Nationality">First Semester</option>
									<option value="Nationality">Second Semester</option>
									<option value="Nationality">Summer Semester</option>	
								</select>
								<br><br>
								<input type="submit">
							</div><br>
							<div>
								<label>Scholarship Starting Year</label>  <br>
								<input type="dateyear" name="year" >
							</div><br>
							<div class="form-group">
								<label>Unaccounted Hours Passed Before Scholarship</label><br>										 
								<input type="number">
							</div><br>
							<div class="form-group">
								<label>Unnaccounted Hours Passed Before Scholarship </label><br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div class="form-group">
								<label>Unnaccounted Hours Remaining</label><br>										 
								<input type="number">
							</div><br>
							<div class="form-group">
								<label>Unnaccounted Hours Remaining </label><br>
								<input type="text" name="firstname">
								<br>
							</div>
							<div class="form-group">
								<label>Accounted Hours Passed Before Scholarship</label><br>										 
								<input type="number">
							</div><br>
							<div class="form-group">
								<label>Hours Failed/Dropped Before Scholarship</label><br>										 
								<input type="number">
							</div><br>
							<div class="form-group"><!--Number ?? Out of ?? Out of a 100%-->
								<label>GPA at Start of Scholarship</label><br>										 
								<input type="number">
							</div><br>
							<div>
								<label>First Semester Fees</label><br>						
								<input type="number">
							</div><br>
														<div>
								<label>Original Hour Fees</label><br>						
								<input type="number">
							</div><br>
														<div>
								<label>Paid Hour Fees</label><br>						
								<input type="number">
							</div><br>
														<div>
								<label>Normal Semester Original Registration Fees</label><br>						
								<input type="number">
							</div><br>
														<div>
								<label>Normal Semester Paid Registration Fees</label><br>						
								<input type="number">
							</div><br>
														<div>
								<label>Summer Semester Original Registration Fees</label><br>						
								<input type="number">
							</div><br>
														<div>
								<label>Summer Semester Paid Registration Fees</label><br>						
								<input type="number">
							</div><br>
							
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
   <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Currently Studying
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">


















								












								






									
								<br><br><br><br><br><br>
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
   <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->
  <footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>