<!DOCTYPE html>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Dardashat
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
								<br>
								<input type="text" name="name">
							</div><br>
							<div class="form-group">
								<label>Semester</label><br>
								<select name="Nationality">
									<option value="Nationality">First Semester</option>
									<option value="Nationality">Second Semester</option>
									<option value="Nationality">Summer Semester</option>	
								</select>
								<br><br>
								<input type="submit">
							</div><br>
							<div>
							<!--number-->
								<label>Date</label>
								<br>
							 
								<label>day</label><br>
								<input type="dateday" name="day" max ="30" min = "1"><br>
								<label>month</label><br>
								<input type="datemonth" name="month" max = "12" min = "1"><br>
								<label> year</label><br>
								<input type="dateyear" name="year"  min = "1900"><br>
								<input type="submit">
							</div><br>
							<div>
								<label>Facilitator</label><br>  
								<input type="radio" name="yes" value="yes" >Internal
								<br>
								<input type="radio" name="no" value="no">External
								<br>
								<input type="radio" name="no" value="no">(If Internal: Name / Text)
								<br>
								<input type="radio" name="no" value="no">(If External: Name / Text + Organization / Text + Email / Text + Mobile / Number)
							</div><br>
							<div class="form-group">
                                <label>Material</label>
								<br>
								<input type="text" name="name">
							</div><br>
							<div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>







									
								<br><br><br><br><br><br>
						</form>											
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
   <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->
  <footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>