<!DOCTYPE html>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>University</th>
                                <th>Major</th>
                                <th>Study-year</th>
                                <th>Number-oclock</th>
                                <th>Average</th>
                                <th>Dardashat</th>
                                <th>Chat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>ahmad</td>
                                <td>yarmook</td>
                                <td>math</td>
                                <td class="center">2014</td>
                                <td class="center">18</td>
                                <td class="center">86</td>
                                <td class="center">65</td>
                                <td class="center">80</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>mohammd</td>
                                <td>tecno</td>
                                <td>englesh</td>
                                <td class="center">2013</td>
                                <td class="center">21</td>
                                <td class="center">80</td>
                                <td class="center">90</td>
                                <td class="center">88</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>anas</td>
                                <td>yarmok</td>
                                <td>arabek</td>
                                <td class="center">2010</td>
                                <td class="center">12</td>
                                <td class="center">89</td>
                                <td class="center">95</td>
                                <td class="center">85</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>ali</td>
                                <td>yarmok</td>
                                <td>enjener</td>
                                <td class="center">2014</td>
                                <td class="center">16</td>
                                <td class="center">80</td>
                                <td class="center">90</td>
                                <td class="center">80</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>mohammad</td>
                                <td>yarmok</td>
                                <td>enjener</td>
                                <td class="center">2015</td>
                                <td class="center">60</td>
                                <td class="center">66</td>
                                <td class="center">90</td>
                                <td class="center">80</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>obada</td>
                                <td>yarmok</td>
                                <td>maty</td>
                                <td class="center">2012</td>
                                <td class="center">80</td>
                                <td class="center">66</td>
                                <td class="center">90</td>
                                <td class="center">70</td>
                            </tr>
                            <tr class="gradeA">
                                <td>oday</td>
                                <td>yarmok</td>
                                <td>math</td>
                                <td class="center">2010</td>
                                <td class="center">56</td>
                                <td class="center">65</td>
                                <td class="center">65</td>
                                <td class="center">65</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
