<!DOCTYPE html>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Community Service Schedule
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
							<!--number-->
								<label>Starting Date</label>
							</div>
							<div class="input-group date">
								<input type="text" class="form-control">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-th"></i>
								</span>
							</div>
							<div class="form-group">
							<!--number-->
								<label>End Date</label>
							</div>
							<div class="input-group date">
								<input type="text" class="form-control">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-th"></i>
								</span>
							</div>
							<div class="form-group">
								<label>Semester</label>
								<select class="form-control">
									<option value="Address">First Semester </option>
									<option value="Address"> Second Semester</option>
									<option value="Nationality">Summer Semester</option>
								</select>							
							</div>
							<div class="form-group">
								<label> Year</label>
								<input type="dateyear" name="year"  min = "1900" class="form-control">								
							</div>
							<!-- tixt box  If Youth or Community Add Type: Text-->
							<div class="form-group">
								<label>Program</label>

								<input type="text" name="firstname"  class="form-control">	
							</div>
							<div class="form-group">
								<label>Component</label>

								<input type="text" name="firstname"  class="form-control">	
							</div>
							<div class="form-group">	
								<label>Location</label>
								<select class="form-control">
									<option value="Nationality">Ruwwad Tafileh</option>
									<option value="Nationality"> Arafa Primary School for Boys</option>
									<option value="Nationality">Arafa Primary School for Girls</option>
									<option value="Nationality"> Fatima Alzahraa Secondary School for Girls</option>
									<option value="Nationality">Zain Alsharaf Secondary School for Girls</option>
									<option value="Nationality"> Amorya Primary School for Girls </option>
									<option value="Nationality">Al Ees Primary School for Girls</option>
									<option value="Nationality"> Al Ees Primary School for Boys</option>
									<option value="Nationality"> Eimeh Secondary School for Girls</option>
									<option value="Nationality">Erhab Secondary School for Boys</option>
									<option value="Nationality"> Erhab Secondary School for Girls</option>
									<option value="Nationality">Ain Al Baida Primary School for Girls</option>
									<option value="Nationality">King Abdallah School</option>
									<option value="Nationality">Tafileh Secondary School for Boys</option>
									<option value="Nationality">Tafileh Secondary School for Girls</option>
									<option value="Nationality">Mansoora Primary School for Girls</option>
									<option value="Nationality"> Roya Mostaqbalieh Private School</option>
									<option value="Nationality">Morganite Kindergarden - Tafileh</option>
									<option value="Nationality">Morganite Kindergarden - TTU</option>
									<option value="Nationality">TTU</option>
									<option value="Nationality">TTU Library </option>
									<option value="Nationality">Community Development Center -  Al Ees</option>
									<option value="Nationality">Community Development Center  - Eimeh</option>
									<option value="Nationality">Community Development Center  - Ain Al Baida </option>
									<option value="Nationality"> Tafileh Orphans Center </option>
									<option value="Nationality"> JOHUD – Princess Basma Center – Tafileh</option>
									<option value="Nationality">JOHUD – Princess Basma Center – Eimeh</option>
									<option value="Nationality"> Quranic Center –Erhab</option>
									<option value="Nationality"> Basma Center for Special Needs</option>
									<option value="Nationality"> Women of Tafileh Charity </option>
									<option value="Nationality">Zain Alsharaf Charity </option>
									<option value="Nationality"> Other </option>									
								</select>
							</div>
							<div class="form-group">
								<label>Scholars </label> 
								<select class="form-control">
								</select>
							</div>
							<div class="form-group">
								<label>Day 1</label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
								<label>Time 1</label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
								<label> Day 2</label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
								<label>Time 2</label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
								<label> Day 3</label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
								<label>Time 3 </label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
								<label>Age group</label>										 
								<input type="number"  class="form-control">
							</div>


							<!-- stuodent -->
							<div class="form-group">
								<label>Scholars </label> 
								<select class="form-control">
									<option value="Address">Doubled</option>
									<option value="Address">Unique</option>				
								</select>
							</div>
							<div class="form-group">
								<label>Reach </label>										 
								<input type="number"  class="form-control">
							</div>
							<div class="form-group">
                                <label>Material</label>
								<input type="text" name="name" class="form-control">
							</div>
							<div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
   <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->
  <footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>