<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               First Semester: 2012/2013
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Scholar</td>
                                <td><a href="javascript:;">جمال عبد المنعم</a></td>
                            </tr>
                            <tr>
                                <td>Semester GPA</td>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <td>GPA</td>
                                <td>78%</td>
                            </tr>
                            <tr>
                                <td>Registered Hours</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>Accounted Hours Passed</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Unaccounted Hours Passed</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Failed Hours</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Dropped Hours</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>