<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Dardashat
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>2015</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>12/5/2015</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>Scholar Related</td>
                            </tr>
                            <tr>
                                <td>If Scholar (...Type Tick Boxes )</td>
                                <td>Other</td>
                                <td>If Other: Text</td>                                
                            </tr>
                            <tr>
                                <td>(IF BLUE ONES) Reason (... Tick Boxes)</td>
                                <td>Other</td>
                                <td>If Other: Text</td>                               
                                 	
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td>Text (i need to)</td>                                
                            </tr>
                            <tr>
                                <td>Letter Number</td>
                                <td>60</td>                                
                            </tr>
                            <tr>
                                <td>Upload</td>
                                <td>Documet</td>                                
                            </tr>
                            <tr>
                                <td>If Official Letter(...Type Drop Down)</td>
                                <td>Sent </td>                                
                            </tr>
                            <tr>
                                <td>To / From</td>
                                <td>Long Text ( form ahmad to anas )</td>             
                            </tr>
                            <tr>
                                <td>Reason</td>
                                <td>Long Text </td>                                
                            </tr>
                            <tr>
                                <td>Letter Number</td>
                                <td>55</td>                                
                            </tr>
                            <tr>
                                <td>Upload</td>
                                <td>Documet</td>                                
                            </tr>
                            <tr>
                                <td>View Scholar</td>                              
                            </tr>
                            <tr>
                                <td>View Sent</td>                             
                            </tr>
                            <tr>
                                <td>View Received</td>                               
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>