<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Dardashat
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>12/5/2015</td>
                            </tr>
                            <tr>
                                <td>Note Type</td>
                                <td>(If Semester Note: Note / Long Text)</td>
                                <td>(If Scholar Note: Scholar / Drop Down Current Scholars + Note / Long Text) </td>
                            </tr>
                            <tr>
                                <td>View Semester Notes Alone</td>
                                
                            </tr>
                            <tr>
                                <td>View Scholar Note Alone</td>
                                
                            </tr>
                            <tr>
                                <td>View Note with each scholar</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>