<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Community Service Schedule
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Scholar</td>
                                <td>جمال عبد المنعم</td>
                            </tr>
                            <tr>
                                <td>Payment For</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>2015</td>
                            </tr>
                            <tr>
                                <td>Evaluation of </td>
                                <td>First Semester for Student</td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <td>Period of Evaluation</td>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <td>Hours To Register by Ruwwad</td>
                                <td>32</td>
                            </tr>
                            <tr>
                                <td>Hours Registered by Scholar</td>
                                <td>32</td>
                            </tr>
                            <tr>
                                <td>Subtraction</td>
                                <td>As Calculated</td>
                            </tr>
                            <tr>
                                <td>CALCULATE</td>
                                <td>CALCULATE</td>
                            </tr>
                            <tr>
                                <td>Community Service Hours Active during period</td>
                                <td>Automatic pick up from Student Profile</td>
                            </tr>
                            <tr>
                                <td>Community Service Hours Done During Period</td>
                                <td>Automatic pick up from Student Profile</td>
                            </tr>
                            <tr>
                                <td>Community Service Percentage (50%)</td>
                                <td>Automatic Calculation/td>
                            </tr>
                            <tr>
                                <td>Enrichment Program + Dardashat Sessions during period</td>
                                <td>Automatic pick up from Student Profile</td>
                            </tr>
                            <tr>
                                <td>Enrichment Program + Dardashat Sessions attendance</td>
                                <td>Automatic pick up from Student Profile</td>
                            </tr>
                            <tr>
                                <td>Dardashat Percentage (30%)</td>
                                <td>Automatic Calculation</td>
                                <td>Out of 30%</td>
                            </tr>
                            <tr>
                                <td>GPA Percentage (20%)</td>
                                <td>Automatic pick up from latest in Student Profile</td>
                                <td>Out of 20% - From Below Table</td>
                            </tr>
                            <tr>
                                <td>Difference in Registered/Paid</td>
                                <td>Automatic pick up from Student Profile</td>
                            </tr>
                            <tr>
                                <td>Failed/Dropped Hours</td>
                                <td>Automatic pick up from Student Profile</td>
                            </tr>
                            <tr>
                                <td>Evaluation Percentage</td>
                                <td>Automatic Calculation</td>
                            </tr>
                            <tr>
                                <td>Amount for Registered Hours</td>
                                <td>Automatic Calculation</td>
                            </tr>
                            <tr>
                                <td>Amount for Paid Hours</td>
                                <td>Automatic Calculation/td>
                            </tr>
                            <tr>
                                <td>Amount for Paid Hours with Evaluation</td>
                                <td>Automatic Calculation</td>
                            </tr>
                            <tr>
                                <td>Amount Scholar Should Pay</td>
                                <td>Automatic Calculation</td>
                            </tr>
                            <tr>
                                <td>Confirm Amount***</td>
                                <td>Confirm Amount***</td>
                            </tr>
                            <tr>
                                <td>Paid Amount</td>
                                <td>Other</td>
                                <td>(If Other: Amount / Number + Reason / Long Text) </td>
                            </tr>
                            <tr>
                                <td>Notes</td>
                                <td>Long Text (......)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>