<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Community Service Attendance
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>15/5/2015</td>
                            </tr>
                            <tr>
                                <td>Community Service (Show table of 10 latest unfilled dates from schedule)</td>
                                <td>(If active tick boxes: Done / Not Done with reason / Not Done without reason)</td>
                                <td>( If not active: Reason / Text)</td>
                            </tr>
                            <tr>
                                <td>Extra or Compensation - Community Service</td>
                                <td>Yes</td>
                                <td>(If Yes: Hour / Number + Date / Calendar + Time / Text + Description / Text)</td>
                            </tr>
                            <tr>
                                <td>Documentation Type</td>
                                <td>Template</td>
                            </tr>
                            <tr>
                                <td>Total hours for scholar</td>
                                <td>Automatic Calculation</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>