<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Personal
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name English</td>
                                <td><a href="javascript:;">jmal ahmad jmal</a></td>
                            </tr>
                            <tr>
                                <td>Name Arabic</td>
                                <td><a href="javascript:;">جمال أحمد جمال</a></td>
                            </tr>
                            <tr>
                                <td>Sex</td>
                                <td>male</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>Jordanian</td>
                            </tr>
                            <tr>
                                <td>ID #</td>
                                <td>1565863222</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>15/5/2015</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Contact
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mobile # 1</td>
                                <td>0799998859</td>
                            </tr>
                            <tr>
                                <td>Mobile # 2</td>
                                <td>0788888995</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>jmal.ahmad@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Family and Finances
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Relatives within the scholarship</td>
                                <td>yes</td>
                                <td>(If Yes: Auto Complete menu ALL Scholars)</td>
                            </tr>
                            <tr>
                                <td>Other Available Scholarship Support</td>
                                <td>yes</td>
                                <td>(If Yes: Name / Text + Details / Long Text)</td>
                            </tr>
                            <tr>
                                <td>Father Full Name</td>
                                <td>Ahmad Ali Jmal </td>
                            </tr>
                            <tr>
                                <td>Father ID #</td>
                                <td>246547687654</td>
                            </tr>
                            <tr>
                                <td>Mother Full Name</td>
                                <td>Hend Anas Morad </td>
                            </tr>
                            <tr>
                                <td>Mother ID #</td>
                                <td>3354654654654</td>
                            </tr>
                            <tr>
                                <td># Members in Family at Home</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Total Monthly Income</td>
                                <td>220</td>
                            </tr>
                            <tr>
                                <td>Total Monthly Expenditure</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>Income Resources</td>
                                <td>free job</td>
                            </tr>
                            <tr>
                                <td>Financial Situation Description</td>
                                <td>i need mony to stuodent</td>
                            </tr>
                            <tr>
                                <td>National Aid</td>
                                <td>yes</td>
                                <td>(If Yes: Amount / Number)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Address
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Governorate</td>
                                <td>Tafileh</td>
                            </tr>
                            <tr>
                                <td>Area</td>
                                <td>Tafileh city</td>
                            </tr>
                            <tr>
                                <td>Street & Location</td>
                                <td> Street 5 home 55</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Tawjihi
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>School</td>
                                <td>jarrar noa'man qodwa school</td>
                            </tr>
                            <tr>
                                <td>Tawjihi Stream</td>
                                <td>Scientific</td>
                            </tr>
                            <tr>
                                <td>Year of graduation</td>
                                <td>2012</td>
                            </tr>
                            <tr>
                                <td>Semester of graduation</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>GPA</td>
                                <td>82</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               College
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Finished Diplome Earlier</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>College Name</td>
                                <td>Amman College</td>
                            </tr>
                            <tr>
                                <td>Major Type</td>
                                <td> Other</td>
                            </tr>
                            <tr>
                                <td>GPA</td>
                                <td>78</td>
                            </tr>
                            <tr>
                                <td>Starting Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Starting Year</td>
                                <td>2010</td>
                            </tr>
                            <tr>
                                <td>Graduation Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Graduation Year</td>
                                <td>2012</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Currently Studying
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Currently Studying</td>
                                <td>Tafila Technical University</td>
                            </tr>
                            <tr>
                                <td>University / College Type</td>
                                <td>Public</td>
                            </tr>
                            <tr>
                                <td>Type of Study</td>
                                <td>Competitive Stream</td>
                            </tr>
                            <tr>
                                <td>Major</td>
                                <td>Auto Complete</td>
                                <td>(we need to have the option of adding majors)</td>
                            </tr>
                            <tr>
                                <td>Univrsity / College ID</td>
                                <td>3857656565</td>
                            </tr>
                            <tr>
                                <td>System Password</td>
                                <td>335588</td>
                            </tr>
                            <tr>
                                <td>Starting Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                            	<td>Starting Year</td>
                                <td>Calender showing years only</td>
                                <td>starting 2005/2006 ---- 2011/2012</td>
                            </tr>
                            <tr>
                                <td>Expected Graduation Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                            	<td>Expected Graduation Year</td>
                            	<td>2016</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Scholarship Related
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Major Hours</td>
                                <td>162</td>
                            </tr>
                            <tr>
                                <td>Scholarship Starting Semester</td>
                                <td>First Semester</td>
                            </tr>
                            <tr>
                                <td>Scholarship Starting Year</td>
                                <td>2014</td>
                            </tr>
                            <tr>
                                <td>Unaccounted Hours Passed Before Scholarship</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Unnaccounted Hours Passed Before Scholarship</td>
                                <td>arabik , english</td>
                            </tr>
                            <tr>
                                <td>Unnaccounted Hours Remaining</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Unnaccounted Hours Remaining</td>
                                <td>math</td>
                            </tr>
                            <tr>
                                <td>Accounted Hours Passed Before Scholarship</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Hours Failed/Dropped Before Scholarship</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>GPA at Start of Scholarship</td>
                                <td>78%</td>
                            </tr>
                            <tr>
                                <td>First Semester Fees</td>
                                <td>350 jd</td>
                            </tr>
                            <tr>
                                <td>Original Hour Fees</td>
                                <td>22 jd</td>
                            </tr>
                            <tr>
                                <td>Paid Hour Fees</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>Normal Semester Original Registration Fees</td>
                                <td>310 jd</td>
                            </tr>
                            <tr>
                                <td>Normal Semester Paid Registration Fees</td>
                                <td>310 jd</td>
                            </tr>
                            <tr>
                                <td>Summer Semester Original Registration Fees</td>
                                <td>250 jd</td>
                            </tr>
                            <tr>
                                <td>Summer Semester Paid Registration Fees</td>
                                <td>250 jd</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               First Semester: 2012/2013
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Scholar</td>
                                <td><a href="javascript:;">جمال عبد المنعم</a></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               First Semester: 2012/2013
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Scholar</td>
                                <td><a href="javascript:;">جمال عبد المنعم</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

  <footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>