<!DOCTYPE html>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Dardashat
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
	                            <td width="30%"></td>
	                            <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>جمال عبد المنعم</td>
                            </tr>
                            <tr>
                                <td>Number</td>
                                <td>0788686868</td>
                            </tr>
                            <tr>
                                <td>Number 2</td>
                                <td>078868881</td>

                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>jmal.ahmad@gmail.com</td>                                 
                            </tr>
                            <tr>
                                <td>Title/Organization</td> 
                                <td>rowwad</td>                               
                            </tr>
                            <tr>
                                <td>Note</td> 
                                <td>Long Text (.....)</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<footer id="footer"> &copy; 2015 Rowwad. All rights reserved .</footer>